.header {
  background-color: #000; /* Noir */
  padding: 10px 0;
  color: white;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  direction: rtl; /* Navigation RTL */
  padding: 0 20px;
}

.logo {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
}

.logo span {
  color: green;
  margin-right: 5px;
  margin-left: 5px;
}

.Hand-icon {
  color: green;        /* Couleur verte */
  font-size: 28px;     /* Taille de l’icône */
  margin-left: 13px;    /* Espace entre l’icône et le texte */
  vertical-align: middle; /* Alignement vertical avec le texte */
}

.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav a:hover {
  color: green;
}

.search {
  position: relative;
  width: 300px; /* plus long */
}

.search-icon {
  position: absolute;
  left: 10px; /* positionne l'icône à gauche */
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  font-size: 16px;
}

.search input {
  width: 100%;
  padding: 5px; /* espace pour l’icône */
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 14px;
}


.auth-buttons {
  display: flex;
  gap: 10px;
}

.btn-green {
  background-color: green;
  color: white;
  border: none;
  padding: 6px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.btn-green:hover {
  background-color: darkgreen;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 6px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.btn-outline:hover {
  background-color: white;
  color: black;
}
