@tailwind utilities;

body {
  background-image: url("../public/Login.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Responsive adjustments */
@media (max-width: 640px) {
  .bg-white {
    padding: 1rem;
    max-width: 95%;
  }
  .max-w-md {
    max-width: 100%;
  }

}